Repository robert-orlinski/robertorlinski.pl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --cache --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "**/*.ts?(x)": [
    "tsc-files --noEmit next-env.d.ts"
  ],
  "*.{json,md,yaml,yml,scss,css}": [
    "prettier --write"
  ],
  "*.js": "eslint --cache --fix"
}

Update Giscus dep
  components/Comments/Comments.tsx
  package-lock.json
  package.json
  public/rss.xml
Due: eslint --fix, prettier --write

move useOnClickAway hook functionality to ClickAwayListener component
  components/ClickAwayListener/ClickAwayListener.tsx
  public/rss.xml
Due: eslint --fix, prettier --write

delete useOnClickAway hook
  hooks/useOnClickAway.ts
  public/rss.xml
Due: eslint --fix, prettier --write

Upload my CV
  public/robert-orlinski-cv.pdf
  public/rss.xml
Due: none

Upload my CV
  public/rss.xml
Due: none

Update my CV
  public/robert-orlinski-cv.pdf
  public/rss.xml
Due: none

Update my CV
  public/rss.xml
Due: none

Use next/link for Brand link
  components/Brand/Brand.tsx
  public/rss.xml
Due: eslint --fix, prettier --write

Add functionality which close the main menu on click outside of it. (#10)
  components/ClickAwayListener/ClickAwayListener.tsx
  components/ClickAwayListener/index.ts
  components/Nav/Nav.tsx
Due: eslint --fix, prettier --write

Remove code overwriting process.env.ESBUILD_BINARY_PATH
  helpers/content/mdx.ts
  public/rss.xml
Due: eslint --fix, prettier --write

Fix Comments
  components/Comments/Comments.tsx
  public/rss.xml
Due: eslint --fix, prettier --write

Edit wordpress-gutenberg-001
  content/posts/wordpress-gutenberg-001/index.mdx
  public/rss.xml
Due: none

Remove incremental flag from tsconfig
  public/rss.xml
  tsconfig.json
Due: prettier --write

Restore default imported Giscus
  components/Comments/Comments.tsx
  public/rss.xml
Due: eslint --fix, prettier --write

Don't use spread while getting menuOrderedPopularPosts in homepage
  pages/index.tsx
  public/rss.xml
Due: eslint --fix, prettier --write

Test NODE_ENV
  pages/index.tsx
  public/rss.xml
Due: eslint --fix, prettier --write

Revert "Test NODE_ENV"
  pages/index.tsx
  public/rss.xml
Due: eslint --fix, prettier --write

Temporarily don't use posts cache
  helpers/content/posts.ts
  public/rss.xml
Due: eslint --fix, prettier --write

Use posts cache but if not used, use mock
  .husky/pre-commit
  cache/mock.json
  cache/posts.json
  helpers/content/posts.ts
  public/rss.xml
Due: eslint --fix, prettier --write

Revert posts cache
  public/rss.xml
Due: none

Update posts.json
  cache/posts.json
Due: prettier --write

Revert posts mock
  .husky/pre-commit
  cache/mock.json
  cache/posts.json
  helpers/content/posts.ts
  public/rss.xml
Due: eslint --fix, prettier --write

Remove FB from social media icons
  components/SocialMedia/SocialMedia.tsx
  public/rss.xml
Due: eslint --fix, prettier --write

Remove YT from social media icons and move IN to the beginning
  components/SocialMedia/SocialMedia.tsx
  public/rss.xml
Due: eslint --fix, prettier --write

Add default light styles to Giscus custom CSS
  public/css/comments.css
  public/rss.xml
Due: prettier --write

Add incremental flag to tsconfig
  public/rss.xml
  tsconfig.json
Due: prettier --write

Add redirect from mobile-apps to the new talk
  next.config.js
  public/rss.xml
Due: eslint --fix, prettier --write, eslint --cache --fix

Add talk page as an article
  .eslintcache
  components/MDXArticle/MDXArticle.tsx
  content/posts/building-mobile-apps-with-no-time-and-experience/featured-image.jpg
  content/posts/building-mobile-apps-with-no-time-and-experience/index.mdx
  data/taxonomies/topics.ts
  helpers/content/mdx.ts
  pages/talks/building-mobile-apps-with-no-time-and-experience.tsx
  pages/tematy/index.tsx
  public/images/featured-images/mobile-apps.jpg
  public/rss.xml
Due: eslint --fix, prettier --write

Update talk redirect
  .eslintcache
  next.config.js
  public/rss.xml
Due: eslint --fix, prettier --write, eslint --cache --fix

Update jak-nie-siedziec-ciagle-w-telefonie
  content/posts/jak-nie-siedziec-ciagle-w-telefonie/index.mdx
  public/rss.xml
Due: none

Update metodologia-bem
  cache/posts.json
  content/posts/metodologia-bem/index.mdx
  public/rss.xml
Due: prettier --write
