Repository robert-orlinski/robertorlinski.pl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --cache --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "**/*.ts?(x)": [
    "tsc-files --noEmit next-env.d.ts"
  ],
  "*.{json,md,yaml,yml,scss,css}": [
    "prettier --write"
  ],
  "*.js": "eslint --cache --fix"
}

Update metodologia-bem
  cache/posts.json
  content/posts/metodologia-bem/index.mdx
  public/rss.xml
Due: prettier --write

Update popular posts
  __mocks__/posts/with-codepen-embeds/index.mdx
  cache/posts.json
  content/posts/jak-szybciej-renderowac-strony-internetowe/index.mdx
  content/posts/metodologia-bem/index.mdx
  content/posts/pozyskiwanie-zlecen-jako-freelancer/index.mdx
  public/rss.xml
Due: prettier --write

Update daje-sie-poznac
  content/posts/daje-sie-poznac/featured-image.jpg
  pages/tematy/index.tsx
  public/rss.xml
Due: eslint --fix, prettier --write

Filter single topics
  components/TopicsGroup/TopicsGroup.tsx
  pages/tematy/index.tsx
  public/rss.xml
Due: eslint --fix, prettier --write

Update newsletter page
  pages/newsletter.tsx
  public/rss.xml
Due: eslint --fix, prettier --write

Update newsletter pages
  pages/mamy-to.tsx
  pages/praktycznie-to-mamy.tsx
  public/rss.xml
Due: eslint --fix, prettier --write

Add links to the talk page
  content/posts/building-mobile-apps-with-no-time-and-experience/index.mdx
  public/rss.xml
Due: none

Update talk page
  content/posts/building-mobile-apps-with-no-time-and-experience/index.mdx
  public/rss.xml
Due: none

Publish talk page
  cache/posts.json
  content/posts/building-mobile-apps-with-no-time-and-experience/index.mdx
  public/rss.xml
Due: prettier --write

Add underline to the last link in newsletter example
  components/NewsletterExample/NewsletterExample.tsx
  public/rss.xml
Due: eslint --fix, prettier --write

Add bypassing-mobile-app-review post
  cache/posts.json
  content/posts/bypassing-mobile-app-review/featured-image.jpg
  content/posts/bypassing-mobile-app-review/index.mdx
  public/rss.xml
Due: prettier --write

Add the recoding of the mobile apps talk
  content/posts/building-mobile-apps-with-no-time-and-experience/featured-image.jpg
  content/posts/building-mobile-apps-with-no-time-and-experience/index.mdx
Due: none

Minor change to next-sitemap
  next-sitemap.js
Due: eslint --fix, prettier --write, eslint --cache --fix

Add "wystapienie-na-meetupie-lekcje" post
  content/posts/materialy-do-nauki-jezyka-angielskiego/index.mdx
  content/posts/wystapienie-na-meetupie-lekcje/featured-image.jpg
  content/posts/wystapienie-na-meetupie-lekcje/index.mdx
  data/taxonomies/topics.ts
  next.config.js
Due: eslint --fix, prettier --write, eslint --cache --fix

Update post
  content/posts/wystapienie-na-meetupie-lekcje/index.mdx
Due: none

Update cache and RSS
  cache/posts.json
  package-lock.json
  package.json
  public/rss.xml
Due: prettier --write

Add `/wszystkie-artykuly` -> `/artykuly` redirect
  next.config.js
  public/rss.xml
Due: eslint --fix, prettier --write, eslint --cache --fix

Add redirect
  next.config.js
Due: eslint --fix, prettier --write, eslint --cache --fix

NewsletterPopup -> NewsletterInterlude
  components/NewsletterInterlude/NewsletterInterlude.tsx
  public/rss.xml
Due: eslint --fix, prettier --write
